@tailwind base;
@tailwind components;
@tailwind utilities;


@layer Poppins {
    html {
        .poppins-thin {
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: normal;
          }
          
          .poppins-thin-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 100;
            font-style: italic;
          }
          
          .poppins-extralight {
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
          }
          
          .poppins-extralight-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: italic;
          }
          
          .poppins-light {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: normal;
          }
          
          .poppins-light-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 300;
            font-style: italic;
          }
          
          .poppins-regular {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
          }
          
          .poppins-regular-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: italic;
          }
          
          .poppins-medium {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: normal;
          }
          
          .poppins-medium-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 500;
            font-style: italic;
          }
          
          .poppins-semibold {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: normal;
          }
          
          .poppins-semibold-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 600;
            font-style: italic;
          }
          
          .poppins-bold {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: normal;
          }
          
          .poppins-bold-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            font-style: italic;
          }
          
          .poppins-extrabold {
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            font-style: normal;
          }
          
          .poppins-extrabold-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 800;
            font-style: italic;
          }
          
          .poppins-black {
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            font-style: normal;
          }
          
          .poppins-black-italic {
            font-family: "Poppins", sans-serif;
            font-weight: 900;
            font-style: italic;
          }
          
    }
  }

  @media (min-width: 1250px) {
    .caja-gris .text-center {
        /* Ajusta la alineación del texto al lado izquierdo */
        text-align: center;
        /* Ajusta la posición del texto a la izquierda */
        left: 20px;
    }
    .caja-gris h1,
    .caja-gris p,
    .caja-gris button {
        /* Cambia el color del texto a blanco */
        text-align: center;
        margin-right: 800px;
        margin-left: 200px;
    }

}
@media (max-width:1249px) and ( min-width:836px) {
  .caja-gris h1,
  .caja-gris p,
  .caja-gris button {

    text-align: center;
    margin-right:53%;
    margin-left: 180px;
  }
}
@media (max-width:835px) and ( min-width:671px) {
  .caja-gris h1,
  .caja-gris p,
  .caja-gris button {

    text-align: center;
    justify-content: center;
    margin-left: 175px;
    margin-right: 200px;
  }
}
@media (max-width: 670px) {
  .caja-gris h1,
  .caja-gris p,
  .caja-gris button {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;

}
  .caja-gris h1{
    font-size: 45px;
  }
  .caja-gris p,
  .caja-gris button{
    font-size: 20px;


  }
}